<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>lapagina</title>

    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section th:replace="~{arbol/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{arbol/fragmentos :: listadoArboles}"/>
        <section th:replace="~{arbol/fragmentos :: agregarArbol}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>